.heading {
    font-size: 28px;
    font-weight: 700;
    color: #2c3531;
    margin-bottom: 30px;
    text-align: center;
}

.title {
    text-align: center;
    color: #116466;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
}

.error {
    color: red;
    margin-bottom: 12px;
    font-weight: 500;
}

.redirect {
    margin-top: 20px;
    text-align: center;

    a {
        color: #116466;
        text-decoration: none;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}